*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;

    height: 100%;
}

body{
    background: url('images/bg-mobile.png') no-repeat top center;
    background-size: cover;

    color: white;

    padding: 30px;
}

#main-container{
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


/* FYLO CONTAINER */

.fylo-container{
    background-color: #1E2C69;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    padding: 30px 40px;

    border-radius: 15px 100px 15px 15px;

    margin-bottom: 1em;
    width: 80%;
}

.menu-icons{
    display: flex;
    align-items: center;
}

.menu-icons__img{
    height: 4em;
    width: 4em;
    margin-right: 2em;

    background-color: #0C112C;
    border-radius: 10px;
    
    padding: 15px;

    display: flex;
    justify-content: center;
}

.menu-icons__img img{
    height: 80%;
    margin: auto;
}


/* STORAGE COTNAINER */

.storage-container{
    background-color: #1E2C69;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 40px;
    border-radius: 15px;

    width: 80%;

}

.storage-container__used{
    margin-top: 3.5em;
}

.progress-bar{
    width: 100%;

    flex: 1 1 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
}

.progress-bar__container{
    background-color: #0C112C;
    border-radius: 10px;
    height: 20px;

    display: flex;
    align-items: center;

    margin-bottom: .4em;

}

.progress-bar__container--gradient{
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    margin-left: 2px;
    border-radius: 15px;
    height: 70%;
    width: 80%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar__container--bubble{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    right: 2px;
}

.progress-bar__size{
    height: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.progress-bar__size p{
    margin: 0;
}

.progress-bar__size--max{
    text-align: right;
}

.storage-container__giga{
    background-color: white;
    color: black;

    margin: 0;
    padding: 15px 10px;
    width: 65%;

    position: relative;
    top: 10px;

    text-align: center;

    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-container__giga span{
    font-size: 2em;
    font-weight: bolder;
    margin-right: .2em;
}